{% extends "scaffold.html" %}
{% load django_tables2 %}

{% block title %}
{% if account.company %}
Dialogs - {{ account.company }} - KUZHANGGUI
{% else %}
Dialogs - KUZHANGGUI
{% endif %}
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/talk.css">
{% endblock %}

{% block content %}
{% include "navbar.html" with tab=request.nav.active_tab %}
<div class="container">
    <div class="btn-toolbar">
        <button class="btn btn-primary" id="create-dialog">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Create Dialog
        </button>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Dialogs
	    
            {% include "search.html" with action="dialogs" value=request.GET.q href=request.path %}
        </div>
        <div class="panel-body">
            {% render_table table "table_template.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/template" id="form-tpl">
    <form class="form-horizontal" role="form" method='POST'>
        {{ form.pk }}
        <p class="alert" style="display: none;"></p>
        <div class="form-group">
            <label class="col-sm-3 required control-label" 
                    for="{{ form.city.id_for_label }}">
                    {{ form.city.label }}</label>
            <div class="col-sm-9">
                {{ form.city }}
                <ul class="parsley-error-list" style="display: none"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 required control-label"
                    for="{{ form.university.id_for_label }}">
                    {{ form.university.label}}</label>
            <div class="col-sm-9">
                {{ form.university }}
                <ul class="parsley-error-list" style="diaplay: none"></ul>
            </div>
        </div>
        <div class="form-group group-text">
            <label class="col-sm-3 required control-label" 
                    for="{{ form.date.id_for_label }}">
                    {{ form.date.label }}
            </label>
            <div class="col-sm-8" style="padding-right: 0px; width: 68%;">
                {{ form.date }}
                <ul class="parsley-error-list" style="display: none"></ul>
            </div> 
            <div class="pull-left" style="padding-left: 8px;">
                <span style="margin-top: 8px;"
                      class="glyphicon glyphicon-info-sign"
                      data-toggle="tooltip"
                      data-trigger="hover"
                      data-placement="right"
                      data-container=".modal"
                      title="Regex is supported"></span>
            </div>
        </div>
        <div class="form-group hide group-event">
            <label class="col-sm-3 required control-label" 
                    for="{{ form.capacity.id_for_label }}">
                    {{ form.capacity.label }}
            </label>
            <div class="col-sm-9">
                {{ form.capacity }}
                <ul class="parsley-error-list" style="display: none"></ul>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <label class="radio-inline">
                    <input type='radio' name='outputType' value='text' checked>
                    Text
                </label>
                <label class="radio-inline">
                    <input type='radio' name='outputType' value='page'>
                    Page
                </label>
            </div>
        </div>
        <div class="form-group last group-response">
            <label class="col-sm-3 required control-label" 
                    for="{{ form.response.id_for_label }}">
                    {{ form.response.label }}</label>
            <div class="col-sm-9">
                {{ form.response }}
                <ul class="parsley-error-list" style="display: none"></ul>
            </div>
        </div>
        <div class="form-group hide group-page">
            <label class="col-sm-3 required control-label" 
                    for="{{ form.page.id_for_label }}">
                    {{ form.pages.label }}</label>
            <div class="col-sm-9">
                {{ form.pages }}
                <ul class="parsley-error-list" style="display: none"></ul>
                <div class="help-block" style="margin-bottom: 0px;">
                    Only pages with both cover and description can be inserted here.
                </div>
            </div>
        </div>
    </form>
</script>

<script type="text/javascript" src="{{ STATIC_URL }}requirejs/require.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/talk.js">
</script>
<script>
    require(["talk"]);
</script>
{% endblock %}
