<div class="btn-group btn-group-sm"
    data-pk="{{ record.pk }}"
    data-city="{{ record.university.city.pk }}"
    data-university="{{ record.university.pk }}"
    data-date="{{ record.date|date:'Y-m-d H:m' }}"
    data-place="{{ record.place }}"
    data-cover="{{ record.cover }}"
    data-capacity="{{ record.capacity}}"
    data-speaker="{{ record.speaker }}"
    data-wtdate="{{ record.wtdate|date:'Y-m-d H:m' }}"
    data-grabbing="{{ record.grabbing|lower }}"
    data-seats="{{ record.seats }}"
    >

    <a href='talk/csv?id={{ record.pk }}' class="btn btn-default export" title="导出占座数据">
        <span class="glyphicon glyphicon-export"></span>
    </a>


    <button class="btn btn-default edit" title="edit">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-danger delete" title="delete">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

</div>
