<div class="btn-group btn-group-sm"
    data-pk="{{ record.pk }}"
    data-city="{{ record.university.city.pk }}"
    data-university="{{ record.university.pk }}"
    data-date="{{ record.date }}"
    data-place="{{ record.place }}"
    data-cover="{{ MEDIA_URL }}{{ record.cover }}"
    data-capacity="{{ record.capacity}}"
    data-speaker="{{ record.speaker }}"
    data-wtdate="{{ record.wtdate }}"
    >

    <button class="btn btn-default edit" title="edit">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-danger delete" title="delete">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

</div>
