<div class="btn-group btn-group-sm"
    data-type="{{ record.type }}"
    data-place="{{ record.place }}"
    data-education="{{ record.education}}"
    data-number="{{ record.number }}"
    data-workdesc="{{ record.workdesc }}"
    data_jobdesc="{{ record.jobdesc}}"
    >

    <button class="btn btn-default edit" title="edit">
        <span class="glyphicon glyphicon-edit"></span>
    </button>

    <button class="btn btn-danger delete" title="delete">
        <span class="glyphicon glyphicon-remove"></span>
    </button>

</div>
